<h2 class="screen-align">Popupscreentime</h2>
<div id="template-idzb" class="gjs-row">
    <div id="template-idd6" class="gjs-cell">
        <div id="template-i63rz7" class="gjs-row">
            <div id="template-il170n" class="gjs-cell">
                <img id="template-il4u72" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018331.png"
                class="" />
            </div>
        </div>
        <div id="template-ixqf" class="gjs-row">
            <div id="template-id7i" class="gjs-cell">
                <div id="template-i2gk" class="">
<span id="template-i2ah" class="">
<div id="template-ihbpk" class="">
MENU</div>
</span>

                </div>
                <div id="template-ip9i5" class="gjs-row">
                    <div id="template-ifuxr" class="gjs-cell">
                        <div id="template-ibwvf" class="gjs-row">
                            <div id="template-i1a71" class="gjs-cell">
                                <img id="template-izyzy" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/home.png"
                                class="" />
                            </div>
                            <div id="template-i2mor" class="gjs-cell">
                                <div id="template-iiwkg" class="">
<span id="template-ix09x" class="">
<div id="template-i197b" class="">
Home</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i0sl3" class="gjs-row">
                            <div id="template-i2ecy" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Community%201.png"
                                id="template-ia6yq" class="" />
                            </div>
                            <div id="template-iwzvy" class="gjs-cell">
                                <div id="template-igq87" class="">
<span id="template-iuco4" class="">
<div id="template-i8tob" class="">
Community</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-ixv9t" class="gjs-row">
                            <div id="template-iv0kt" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/blue%20my%20features.png"
                                id="template-ixx0h" class="" />
                            </div>
                            <div id="template-i4e57" class="gjs-cell">
                                <div id="template-igfvq" class="">
<span id="template-i7r09" class="">
<div id="template-in4qw" class="">
My Features</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-io1bl" class="gjs-row">
                            <div id="template-iusli" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/trainer%201.png"
                                id="template-ie28b" class="" />
                            </div>
                            <div id="template-iy6je" class="gjs-cell">
                                <div id="template-iq2q8" class="">
<span id="template-ifs56" class="">
<div id="template-il903" class="">
Trainer</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i1mne" class="gjs-row">
                            <div id="template-issmd" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Profile%201.png"
                                id="template-iksrh" class="" />
                            </div>
                            <div id="template-ilbeg" class="gjs-cell">
                                <div id="template-i01e4" class="">
<span id="template-il3ue" class="">
<div id="template-iqeyf" class="">
Profile</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-id40h" class="gjs-row">
            <div id="template-i0o9l" class="gjs-cell">
                <div id="template-i7ut96" class="gjs-row">
                    <div id="template-ig8xmv" class="gjs-cell">
                        <img id="template-if2dbz" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logout%20arrow.png"
                        class="" />
                    </div>
                    <div id="template-ie9i4s" class="gjs-cell">
                        <div id="template-i95lcc" class="">
                            <div id="template-ifs1f" class="">Logout</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-itfo" class="gjs-cell">
        <div id="template-i2s3s" class="gjs-row">
            <div id="template-ichy5" class="gjs-cell">
                <img id="template-i9qfn" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/left%20arrow%201.png"
                class="" />
            </div>
            <div id="template-ijkdv" class="gjs-cell">
                <div id="template-innfz" class="">
                    <div id="template-ipzf7" class=""></div>
                </div>
            </div>
            <div id="template-iplkex" class="gjs-cell">
                <input id="template-it8bl4" placeholder="Search" class="input Speed "
                />
            </div>
        </div>
        <div id="template-iz1kai" class="gjs-row">
            <div id="template-iqruzx" class="gjs-cell">
                <div id="template-i103zq" class="gjs-row">
                    <div id="template-iasl7t" class="gjs-cell">
                        <div id="template-i1c7uo" class="gjs-row">
                            <div id="template-iyiu2u" class="gjs-cell">
                                <img id="template-ierddh" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/blue%20left%20arrow.png"
                                class="" />
                            </div>
                        </div>
                    </div>
                    <div id="template-ixtbbt" class="gjs-cell">
                        <div id="template-iv69ed" class="">
                            <div id="template-ipk4w" class="">Your Workout</div>
                        </div>
                    </div>
                </div>
                <div id="template-ite5ok" class="gjs-row">
                    <div id="template-ic46up" class="gjs-cell">
                        <div id="template-i8e1y" class=""></div>
                    </div>
                </div>
                <div id="template-i4cf99" class="gjs-row">
                    <div id="template-il5trv" class="gjs-cell">
                        <div id="template-i17f4r" class="gjs-row">
                            <div id="template-ie0hpy" class="gjs-cell">
                                <div id="template-i3faoh" class="">
                                    <div id="template-i0g64" class="">Sleep Start</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ikg82w" class="gjs-row">
                            <div id="template-i3zz4t" class="gjs-cell">
                                <div id="template-ie9etw" class="">
                                    <div id="template-ifjh4" class="">11 : 30 pm</div>
                                </div>
                            </div>
                            <div id="template-iln8qb" class="gjs-cell">
                                <div id="template-iimf55" class="">
                                    <div id="template-iyr39" class="">18 May,2022</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ilkm2w" class="gjs-row">
                            <div id="template-ij618c" class="gjs-cell">
                                <div id="template-i0hrz" class=""></div>
                            </div>
                        </div>
                    </div>
                    <div id="template-iul2ul" class="gjs-cell">
                        <div id="template-iefj7h" class="gjs-row">
                            <div id="template-ibmz0n" class="gjs-cell">
                                <div id="template-ic35cr" class="">
                                    <div id="template-i19r6" class="">Wake Up Time</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ita7eo" class="gjs-row">
                            <div id="template-i9q1kv" class="gjs-cell">
                                <div id="template-i2murs" class="">
                                    <div id="template-iryfgi" class="">07 : 30 pm</div>
                                </div>
                            </div>
                            <div id="template-ibjl69" class="gjs-cell">
                                <div id="template-iuchg4" class="">
                                    <div id="template-i1n9ju" class="">19 May,2022</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-ic7m9c" class="gjs-row">
                            <div id="template-iyz2aa" class="gjs-cell">
                                <div id="template-ikebrq" class=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="template-irhcnm" class="gjs-row">
                    <div id="template-il1fby" class="gjs-cell">
                        <div id="template-iuw5au" class=""></div>
                    </div>
                    <div id="template-irwbm7" class="gjs-cell">
                        <div id="template-ivu85o" class="gjs-row">
                            <div id="template-ig9yps" class="gjs-cell">
                                <div id="template-iuv8ab" class="">
                                    <div id="template-i1srqm" class="">Cancel</div>
                                </div>
                            </div>
                            <div id="template-ifbb4j" class="gjs-cell">
                                <button id="template-iakxjk" class="button btn btn-primary ">
                                    <div id="template-ixh1cs" class="">Done</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-iziz" class="gjs-cell">
        <div id="template-ix09fg" class="gjs-row">
            <div id="template-i8vna5" class="gjs-cell">
                <div id="template-ihrr9l" class="gjs-row">
                    <div id="template-i9w0nk" class="gjs-cell">
                        <div id="template-i8oyqg" class="">
                            <div id="template-ir15nh" class="">Ragav</div>
                        </div>
                    </div>
                    <div id="template-iqdak4" class="gjs-cell">
                        <img id="template-i2t9kj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/profile.png"
                        class="" />
                    </div>
                </div>
                <div id="template-ir1nd4" class="gjs-row">
                    <div id="template-i3pyqy" class="gjs-cell">
                        <img id="template-ims38g" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018345.png"
                        class="" />
                        <div id="template-ie82a6" class="gjs-row">
                            <div id="template-i5e60z" class="gjs-cell">
                                <img id="template-i12x8m" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/dots.png"
                                class="" />
                            </div>
                            <div id="template-iti9qi" class="gjs-cell">
                                <div id="template-i9ueh7" class="">
                                    <div id="template-ipkfec" class="">Happy Life Style</div>
                                </div>
                            </div>
                            <div id="template-i9ddft" class="gjs-cell">
                                <img id="template-illfjg" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/dots%202.png"
                                class="" />
                            </div>
                        </div>
                        <div id="template-iqloje" class="gjs-row">
                            <div id="template-ic4bfz" class="gjs-cell">
                                <div id="template-ikhi5x" class="">
                                    <div id="template-irw572" class="">Identify the things you think negatively about, and recognize why. evaluate
                                        your thoughts and feelings throughout the day. seek humor in everyday situations
                                        and allow yourself to smile or laugh even when you're upset. live a healthy
                                        lifestyle.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iz5gxw" class="gjs-row">
            <div id="template-i7g2xl" class="gjs-cell">
                <div id="template-ij88vi" class="">
                    <div id="template-is06pr" class="">Detailed Premium Analysis</div>
                </div>
                <div id="template-iyeyt6" class="">
                    <div id="template-izvbjo" class="">I've Analysed Your Microunutrient Intake For Iron, Magnesium And Zinc</div>
                </div>
                <button id="template-i1rq9h" class="button btn btn-primary ">
                    <div id="template-in0wsk" class="">Unlock</div>
                </button>
            </div>
        </div>
    </div>
</div>