<h2 class="screen-align">Deletedthedata </h2>
<div id="template-idzb" class="gjs-row">
    <div id="template-idd6" class="gjs-cell">
        <div id="template-i63rz7" class="gjs-row">
            <div id="template-il170n" class="gjs-cell">
                <img id="template-il4u72" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%2018331.png"
                class="" />
            </div>
        </div>
        <div id="template-ixqf" class="gjs-row">
            <div id="template-id7i" class="gjs-cell">
                <div id="template-i2gk" class="">
<span id="template-i2ah" class="">
<div id="template-imagc" class="">
MENU</div>
</span>

                </div>
                <div id="template-ip9i5" class="gjs-row">
                    <div id="template-ifuxr" class="gjs-cell">
                        <div id="template-ibwvf" class="gjs-row">
                            <div id="template-i1a71" class="gjs-cell">
                                <img id="template-izyzy" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/home.png"
                                class="" />
                            </div>
                            <div id="template-i2mor" class="gjs-cell">
                                <div id="template-iiwkg" class="">
<span id="template-ix09x" class="">
<div id="template-ix5sf" class="">
Home</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i0sl3" class="gjs-row">
                            <div id="template-i2ecy" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Community%201.png"
                                id="template-ia6yq" class="" />
                            </div>
                            <div id="template-iwzvy" class="gjs-cell">
                                <div id="template-igq87" class="">
<span id="template-iuco4" class="">
<div id="template-itmfn" class="">
Community</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-ixv9t" class="gjs-row">
                            <div id="template-iv0kt" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/blue%20my%20features.png"
                                id="template-ixx0h" class="" />
                            </div>
                            <div id="template-i4e57" class="gjs-cell">
                                <div id="template-igfvq" class="">
<span id="template-i7r09" class="">
<div id="template-id1cn" class="">
My Features</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-io1bl" class="gjs-row">
                            <div id="template-iusli" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/trainer%201.png"
                                id="template-ie28b" class="" />
                            </div>
                            <div id="template-iy6je" class="gjs-cell">
                                <div id="template-iq2q8" class="">
<span id="template-ifs56" class="">
<div id="template-inmyx" class="">
Trainer</div>
</span>

                                </div>
                            </div>
                        </div>
                        <div id="template-i1mne" class="gjs-row">
                            <div id="template-issmd" class="gjs-cell">
                                <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Profile%201.png"
                                id="template-iksrh" class="" />
                            </div>
                            <div id="template-ilbeg" class="gjs-cell">
                                <div id="template-i01e4" class="">
<span id="template-il3ue" class="">
<div id="template-ins6j" class="">
Profile</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-id40h" class="gjs-row">
            <div id="template-i0o9l" class="gjs-cell">
                <div id="template-i7ut96" class="gjs-row">
                    <div id="template-ig8xmv" class="gjs-cell">
                        <img id="template-if2dbz" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/logout%20arrow.png"
                        class="" />
                    </div>
                    <div id="template-ie9i4s" class="gjs-cell">
                        <div id="template-i95lcc" class="">
                            <div id="template-if5ln" class="">Logout</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template-itfo" class="gjs-cell">
        <div id="template-i2s3s" class="gjs-row">
            <div id="template-ichy5" class="gjs-cell">
                <img id="template-i9qfn" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/left%20arrow%201.png"
                class="" />
            </div>
            <div id="template-ijkdv" class="gjs-cell">
                <div id="template-innfz" class="">
                    <div id="template-i5rcg" class="">Sleep Goal</div>
                </div>
            </div>
            <div id="template-iplkex" class="gjs-cell">
                <input id="template-it8bl4" placeholder="Search" class="input Speed "
                />
            </div>
        </div>
        <div id="template-i17hnd" class="gjs-row">
            <div id="template-izzghl" class="gjs-cell">
                <div id="template-iimaep" class="gjs-row">
                    <div id="template-inlztf" class="gjs-cell">
                        <div id="template-ir24un" class="gjs-row">
                            <div id="template-iep0xw" class="gjs-cell">
                                <img id="template-iw8lgu" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/calander.png"
                                class="" />
                            </div>
                            <div id="template-idksqs" class="gjs-cell">
                                <div id="template-i3r26h" class="">
<span id="template-io28bz" class="">
<div id="template-i4fdg" class="">
Today</div>
</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-ia5xbs" class="gjs-row">
            <div id="template-ikg2pg" class="gjs-cell">
                <div id="template-ivj0ed" class="">
<b id="template-iso6ql" class="">
<div id="template-ibkpn" class="">
0h 0m
            </div>
</b>

                    <div id="template-isb4j" class=""> of 8h 0m</div>
                </div>
            </div>
            <div id="template-ipy0zl" class="gjs-cell">
                <div id="template-i2xdc" class=""></div>
            </div>
        </div>
        <div id="template-iovdvu" class="gjs-row">
            <div id="template-i9d9gu" class="gjs-cell">
                <div id="template-i2n84" class=""></div>
            </div>
        </div>
        <div id="template-ievq0j" class="gjs-row">
            <div id="template-ii94ff" class="gjs-cell">
                <div id="template-iesodg" class="gjs-row">
                    <div id="template-i2mu9i" class="gjs-cell">
                        <div id="template-i7rbz9" class="">
                            <div id="template-ilqkh" class="">My Sleep</div>
                        </div>
                    </div>
                    <div id="template-ivrraf" class="gjs-cell">
                        <div id="template-imwj6" class=""></div>
                    </div>
                    <div id="template-igxv93" class="gjs-cell">
                        <div id="template-i2twc2" class="gjs-row">
                            <div id="template-ilbxk" class=""></div>
                        </div>
                        <div id="template-ilfk1i" class="gjs-row">
                            <div id="template-i5hqi" class=""></div>
                        </div>
                        <div id="template-i62jtp" class="gjs-row">
                            <div id="template-ia8veg" class=""></div>
                        </div>
                        <div id="template-iuhs2k" class="gjs-row">
                            <div id="template-i8jz0g" class="gjs-cell">
                                <img id="template-i11ofj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/clock.png"
                                class="" />
                            </div>
                            <div id="template-ibjam7" class="gjs-cell">
                                <div id="template-ii924f" class="">
                                    <div id="template-ix0qjb" class="">no sleep tracked yet!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="template-iku71r" class="gjs-cell">
                <div id="template-izjsii" class="gjs-row">
                    <div id="template-isopt1" class="gjs-cell">
                        <div id="template-i9j6nk" class="">
                            <div id="template-ismrrj" class="">Hi</div>
                        </div>
                    </div>
                    <div id="template-ik253j" class="gjs-cell">
                        <div id="template-i5hcmy" class=""></div>
                    </div>
                    <div id="template-ia0jti" class="gjs-cell">
                        <div id="template-iv8732" class="gjs-row">
                            <div id="template-ipvbol" class="gjs-cell">
                                <div id="template-ii2m5o" class="">
                                    <div id="template-i0sdoh" class="">Did you sleep at</div>
<b id="template-issu4k" class="">
<div id="template-i0bx3s" class="">
11 : 30 pm ?
                    </div>
</b>

                                </div>
                            </div>
                            <div id="template-iyt22x" class="gjs-cell">
                                <div id="template-iu8kfb" class="gjs-row">
                                    <div id="template-i0giwb" class="gjs-cell">
                                        <div id="template-i12d1x" class=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-ilglcf" class="gjs-cell">
                        <div id="template-i0fmr7" class="gjs-row">
                            <div id="template-izq1lb" class="gjs-cell">
                                <div id="template-i6cj6d" class="">
                                    <div id="template-i70tih" class="">Did you wake at</div>
<b id="template-imppmm" class="">
<div id="template-iswyrp" class="">
07 : 30 pm ?
                    </div>
</b>

                                </div>
                            </div>
                            <div id="template-icf2uk" class="gjs-cell">
                                <div id="template-iz4ffq" class="gjs-row">
                                    <div id="template-irss0v" class="gjs-cell">
                                        <div id="template-iogkq9" class="">
                                            <div id="template-ie4a3i" class="">EDIT</div>
                                        </div>
                                    </div>
                                    <div id="template-iyu6yg" class="gjs-cell">
                                        <div id="template-i1wceq" class="">
                                            <div id="template-iplf03" class="">YES</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-ikcby4" class="gjs-row">
            <div id="template-i3tzgb" class="gjs-cell">
                <div id="template-i52vfx" class="gjs-row">
                    <div id="template-ixgrm9" class="gjs-cell">
                        <div id="template-i8h3h4" class="">
                            <div id="template-i80be6" class="">Sleep Analysis</div>
                        </div>
                    </div>
                    <div id="template-iog4ib" class="gjs-cell">
                        <div id="template-ia1gnk" class="">
                            <div id="template-ijsfzc" class="">Last 20 Days</div>
                        </div>
                    </div>
                </div>
                <div id="template-i48hxz" class="gjs-row">
                    <div id="template-iys28p" class="gjs-cell">
                        <div id="template-ip3laf" class="">
                            <div id="template-iaqsht" class="">Goal : 8h 0m</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iaeh5k" class="gjs-row">
            <div id="template-i1arqk" class="gjs-cell">
                <div id="template-ixtii4" class=""></div>
            </div>
        </div>
        <div id="template-i223l5" class="gjs-row">
            <div id="template-iy7ffi" class="gjs-cell">
                <button id="template-i1gvzf" class="button btn btn-primary ">
                    <div id="template-isym8o" class="">Add</div>
                </button>
            </div>
        </div>
    </div>
    <div id="template-iziz" class="gjs-cell">
        <div id="template-ix09fg" class="gjs-row">
            <div id="template-i8vna5" class="gjs-cell">
                <div id="template-ihrr9l" class="gjs-row">
                    <div id="template-i9w0nk" class="gjs-cell">
                        <div id="template-i8oyqg" class="">
                            <div id="template-ifgyf8" class="">Ragav</div>
                        </div>
                    </div>
                    <div id="template-iqdak4" class="gjs-cell">
                        <img id="template-i2t9kj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/profile.png"
                        class="" />
                    </div>
                </div>
                <div id="template-ir1nd4" class="gjs-row">
                    <div id="template-i3pyqy" class="gjs-cell">
                        <img id="template-ims38g" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/right%20image.png"
                        class="" />
                        <div id="template-ie82a6" class="gjs-row">
                            <div id="template-iti9qi" class="gjs-cell">
                                <div id="template-i9ueh7" class="">
                                    <div id="template-imie37" class="">You're out of freesuggestions.</div>
                                    <br id="template-ioxmc5" class="">
                                    <div id="template-idc8tx" class="">upgrade now for unlimited access</div>
                                </div>
                            </div>
                        </div>
                        <div id="template-iqloje" class="gjs-row">
                            <div id="template-ic4bfz" class="gjs-cell">
                                <div id="template-ikhi5x" class="">
                                    <div id="template-iqgws1" class="">The best way to monitor sleep quality is to go to bed at a reasonable
                                        time and to make sure that you are not tired for the next day</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="template-iz5gxw" class="gjs-row">
            <div id="template-i7g2xl" class="gjs-cell">
                <div id="template-ij88vi" class="">
                    <div id="template-i1h9vj" class="">Detailed Premium Analysis</div>
                </div>
                <div id="template-iyeyt6" class="">
                    <div id="template-i4lliw" class="">I've Analysed Your Microunutrient Intake For Iron, Magnesium And Zinc</div>
                </div>
                <button id="template-i1rq9h" class="button btn btn-primary ">
                    <div id="template-i0wqzh" class="">Unlock</div>
                </button>
            </div>
        </div>
    </div>
</div>